/* Credit: https://github.com/ecole-du-web/react-modal  */

body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 8px 20px;
    position: absolute;
    text-align: right;
    top: 3%;
    right: 5%;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    color:#0087ff;
    background: #f1f1f1;
    border-radius: 3px
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 20px 28px;
    border-radius: 3px;
    max-width: 500px;
    min-width: 350px;
    height: 150px;
    text-align: center;
}

.log-modal {
    margin-top: 20px;
}

.modal-input {
    margin-top: 15px;
}

.modal-sign {
    color:#0087ff;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}